<%layout('layouts/boilerplate.ejs')%>
    <div class="container">
        <div class="col-6 offset-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">
                    <%=err.message%>
                </h4>
                <p>
                    <%=err.stack%>
                </p>
            </div>
        </div>
    </div>