<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>All Hotels</h1>
    <a href="/hotels/new">Add a hotel</a>
    <ul>
        <%for(let hotel of hotels){%>
            <li>
                <a href="/hotels/<%=hotel._id%>">
                    <%=hotel.name%>
                </a>
            </li>
            <%}%>
    </ul>

</body>

</html>