<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a hotel</title>
</head>

<body>
    <h1>Add a hotel</h1>
    <form action="/hotels" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name"><br>
        <label for="price">Price: </label>
        <input type="number" name="price" id="price"><br>
        <label for="description">Description: </label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
        <label for="city">City: </label>
        <input type="text" name="city" id="city"><br>
        <label for="state">State: </label>
        <input type="text" name="state" id="state">
        <button>Add</button>
    </form>
    <a href="/hotels">Cancel</a>
</body>

</html>